# ============================================
# ARENAGG — Environment Variables
# Rename file ini menjadi .env
# Isi dengan credentials Supabase kamu
# ============================================

VITE_SUPABASE_URL=https://itxpjxnyhzsexvfvezre.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
